@model IEnumerable<BlogTracker.Models.BlogInfo>
@{
    ViewData["Title"] = "EmployeeBlogIndex";
}

<h1>EmployeeBlogIndex</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>&nbsp;&nbsp;<a asp-controller="EmpInfoes" asp-action="Logout" class="btn btn-warning">Logout</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmailId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpEmailId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BlogInfoId" class="btn btn-primary">Edit</a> |
                     
                    <a asp-action="Delete" asp-route-id="@item.BlogInfoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>